# Default ignored files
.ide
out

/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JAVA\BaiTapPhanLoaiTamGiac\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
